<ion-view view-title="Welcome Tutorial">
  <ion-content scroll="false">
    <ion-slide-box class="tutorial-slide-box">
      <ion-slide>
        <div class="tutorial-slide-content">
          <h3>Transparent Encryption</h3>
          <h3 class="color-nepal">You dive encryption process absolutely</h3>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="tutorial-slide-content">
          <h3>Generate keys manually</h3>
          <h3 class="color-nepal">Generate encryption keys by a hand and exchange with it with your buddies</h3>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>





<!--<ion-slide-box ion-view view-title="Welcome Tutorial" on-slide-changed="slideHasChanged($index)">-->
  <!--&lt;!&ndash;<ion-nav-buttons side="left">&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="button button-positive button-clear no-animation" ng-click="startApp()" ng-show="!slideIndex">&ndash;&gt;-->
      <!--&lt;!&ndash;Skip Intro&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="button button-positive button-clear no-animation">&ndash;&gt;-->
      <!--&lt;!&ndash;Previous Slide&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-nav-buttons>&ndash;&gt;-->

  <!--&lt;!&ndash;<ion-nav-buttons side="right">&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="button button-positive button-clear no-animation"&ndash;&gt;-->
            <!--&lt;!&ndash;ng-click="next()" ng-show="slideIndex != 2">&ndash;&gt;-->
      <!--&lt;!&ndash;Next&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="button button-positive button-clear no-animation"&ndash;&gt;-->
            <!--&lt;!&ndash;ng-click="startApp()" ng-show="slideIndex == 2">&ndash;&gt;-->
      <!--&lt;!&ndash;Start using MyApp&ndash;&gt;-->
    <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-nav-buttons>&ndash;&gt;-->

  <!--<ion-slide>-->
    <!--<ion-content>-->
      <!--<div class="text-center">-->
        <!--<h4>Transparent Encryption</h4>-->
      <!--</div>-->
    <!--</ion-content>-->
  <!--</ion-slide>-->
  <!--<ion-slide>-->
    <!--<ion-content>LOL2</ion-content>-->
  <!--</ion-slide>-->
  <!--<ion-slide>-->
    <!--<div class="box pink"><h1>PINK</h1></div>-->
  <!--</ion-slide>-->


<!--</ion-slide-box>-->
