<ion-view view-title="Security" class="ion-view">
  <ion-content class="ion-content-decorated">
    <div class="module-window">
      <div class="list">
        <div class="item item-divider">
          SSL
        </div>
        <div class="item">
          <span class="word-break">The connection to the SilenceIM website should use a valid, trusted server certificate.</span>
        </div>

        <div class="item item-divider">
          PGP keys
        </div>
        <div class="item">
          <span class="word-break">Generate new PGP keypair every new session. Re-generate PGP keypair every 30 minutes of chatting.</span>
        </div>
        <div class="item">
          <span class="word-break">Keep your private key as secret as possible. Share your public key with your buddies.</span>
        </div>

        <div class="item item-divider">
          AES/RC4
        </div>
        <div class="item">
          <span class="word-break">Do not send AES/RC4 passwords to your buddies via public channel or network.</span>
        </div>

        <div class="item item-divider">
          Monitor traffic
        </div>
        <div class="item">
          <span class="word-break">Use WebSockets traffic inspector in browser or any packet analyzer (like Wireshark) to ensure that your messages are encrypted.</span>
        </div>

        <div class="item item-divider">
          Use TOR
        </div>
        <div class="item">
          <span class="word-break">Hide your identity over the TOR network.</span>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
