<ion-view view-title="About" class="ion-view">
  <ion-content class="ion-content-decorated">
    <div class="module-window">
      <h4 class="m-b-lg">About SilenceIM</h4>
      <p>SilenceIM is a free, anonymous and open-source, end-to-end, fully-secured internet messenger with no logs & no history.</p>
      <p class="m-b-lg">SilenceIM uses HTTPS, WWS, PGP & AES + RC4 synchronous + asynchronous algorithmes (messages are encrypted and decrypted on the client side)</p>

      <ion-list class="m-b-0">
        <ion-item href="#/app/about/feedback">
          Feedback
        </ion-item>
        <ion-item href="#/app/about/tutorial">
          Tutorial
        </ion-item>
        <ion-item href="#/app/about/security">
          Security
        </ion-item>
        <ion-item href="#/app/about/vendors">
          Vendors
        </ion-item>
        <ion-item href="#/app/about/license">
          License
        </ion-item>
        <ion-item external-link="https://github.com/jesus-hear-you/silenceim-ionic" ng-click>
          GitHub
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
