<ion-view view-title="Tutorial">

  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear no-animation" ng-click="next()" ng-hide="isLastSlide()">
      Next
    </button>
  </ion-nav-buttons>


  <ion-content scroll="true" class="tutorial-content">
    <ion-slide-box class="tutorial-slide-box" on-slide-changed="slideChanged(index)" pager-click="slide(index)">
      <ion-slide>
        <div class="tutorial-slide-content">
          <img src="img/about/tutorial/step-1.png?" class="m-b-base" style="max-width:250px; margin-top: -20%"/>
          <h3>Encrypted online chatting</h3>
          <h3 class="color-nepal">You dive encryption process absolutely</h3>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="tutorial-slide-content">
          <h3>Transparent Encryption</h3>
          <h3 class="color-nepal">Generate encryption keys by a hand and exchange with it with your buddies</h3>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>





  <!--<ion-nav-buttons side="left">-->
    <!--<button class="button button-positive button-clear no-animation" ng-click="startApp()" ng-show="!slideIndex">-->
      <!--Skip Intro-->
    <!--</button>-->
    <!--<button class="button button-positive button-clear no-animation">-->
      <!--Previous Slide-->
    <!--</button>-->
  <!--</ion-nav-buttons>-->

  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-positive button-clear no-animation"-->
            <!--ng-click="next()" ng-show="slideIndex != 2">-->
      <!--Next-->
    <!--</button>-->
    <!--<button class="button button-positive button-clear no-animation"-->
            <!--ng-click="startApp()" ng-show="slideIndex == 2">-->
      <!--Start using MyApp-->
    <!--</button>-->
  <!--</ion-nav-buttons>-->

