<ion-view view-title="Android" class="ion-view">
  <ion-content class="download-android">
    <div class="download-target">
      <img src="img/download/beta.white.png?" class="download-beta-logo m-b-lg"/>

      <h3 class="m-b-lg">Beta version of SilenceIm is available on google play</h3>
      <h3 style="opacity: 0.3">And remember: no Matter What Happens, Jesus is With You</h3>

      <img src="img/download/google-play.png" class="m-t-xlg" width="40%" height="auto"/>

    </div>
  </ion-content>
</ion-view>
