<ion-view view-title="SilenceIM" class="ion-view">
  <ion-content class="ion-content-decorated">
    <div class="module-window">
      <h4 class="m-b-lg">Create or Join the room</h4>

      <form ng-submit="submit()" class="m-b-lg">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="model.username">
          </label>

          <label class="item item-input">
            <span class="input-label">Room</span>
            <input type="text" ng-model="model.room">
          </label>

          <label class="item">
            <button class="button button-block button-positive" type="submit">Join</button>
          </label>
        </div>
      </form>

      <table class="full-width color-muted">
        <tr>
          <td class="p-r-base">
            <i class="ion-alert-circled"></i>
          </td>
          <td class="full-width">
            <p class="m-b-0">
              GROUP CHATS ARE ACCEPTABLE ONLY WITH SYMMETRIC ENCRYPTION (AES/RC4)
            </p>
          </td>
        </tr>
      </table>

      <div class="m-t-lg text-center" style="font-size: 2em">
        <a class="color-text m-x-base" href=""><i class="icon ion-social-android"></i></a>
        <a class="color-text m-x-base" href=""><i class="icon ion-social-windows"></i></a>
        <a class="color-text m-x-base" href=""><i class="icon ion-social-apple"></i></a>
      </div>

    </div>
  </ion-content>
</ion-view>
