<ion-view view-title="SilenceIM" class="ion-view">
  <ion-content class="ion-content-decorated">
    <div class="module-window">
      <h4 class="m-b-lg">Create or Join the room</h4>
      <p class="m-b-lg">You have to generate new PGP/AES/RC4 keys on each launch in security purpose.</p>

      <div class="list" ng-hide="CONNECTED">
        <div class="item item-icon-right">
          <i class="icon">
            <ion-spinner icon="lines"></ion-spinner>
          </i>
          Retrieve connection...
        </div>
      </div>

      <form ng-submit="submit()" class="m-b-lg" ng-class="{'loading-block': model.loading}" ng-show="CONNECTED">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="model.userName">
          </label>

          <label class="item item-input">
            <span class="input-label">Room</span>
            <input type="text" ng-model="model.roomName">
          </label>

          <label class="item">
            <button class="button button-block button-positive" type="submit">Join</button>
          </label>
        </div>
      </form>

      <table class="full-width color-muted">
        <tr>
          <td class="p-r-base">
            <i class="ion-alert-circled"></i>
          </td>
          <td class="full-width">
            <p class="m-b-0">
              GROUP CHATS ARE ACCEPTABLE ONLY WITH SYMMETRIC ENCRYPTION (AES/RC4)
            </p>
          </td>
        </tr>
      </table>

      <div class="m-t-lg text-center platform-app-hidden">
        <p class="m-b-0" style="font-size: 2.2em">
          <a class="color-black m-x-base" href="#/app/android"><i class="icon ion-social-android"></i></a>
        </p>

        <!--<p>-->
          <!--Also: <a class="color-black text-decoration-none" href="#/app/blackberry">Blackberry</a>,-->
          <!--<a class="color-black text-decoration-none" href="#/app/blackberry">Ubuntu</a>-->
        <!--</p>-->
      </div>

    </div>
  </ion-content>
</ion-view>
