<ion-view view-title="PGP" class="ion-view">
  <ion-content class="ion-content-decorated">
    <div class="module-window">
      <h4 class="m-b-lg">PGP encryption</h4>
      <p class="m-b-lg">
        PGP encryption uses public-key cryptography.
        You may generate a new Keypair or provide you own keys here.
      </p>

      <ion-list class="m-b-0">
        <ion-item href="#/app/pgp/my-private" class="item-icon-right">
          <i class="icon ion-android-lock"></i>
          <span class="color-success" ng-show="myPrivateKey">•</span>
          My Private Key
        </ion-item>
        <ion-item href="#/app/pgp/my-public" class="item-icon-right">
          <i class="icon ion-ios-upload"></i>
          <span class="color-success" ng-show="myPublicKey">•</span>
          My Public Key
        </ion-item>
        <ion-item href="#/app/pgp/buddy-public" class="item-icon-right">
          <i class="icon ion-ios-download"></i>
          <span class="color-success" ng-show="buddyPublicKey">•</span>
          Buddy's Public Key
        </ion-item>
      </ion-list>

      <div class="m-t-lg"></div>

      <a class="button button-outline button-block button-positive" href="#/app/pgp/generate">Generate</a>
    </div>
  </ion-content>
</ion-view>
