<ion-view view-title="Keypair" class="ion-view">
  <ion-content class="ion-content-decorated">
    <div class="module-window">
      <h4 class="m-b-lg">Generate PGP Keypair</h4>
      <p class="m-b-lg">
        We will generate Keypair on your devise locally.
        Send generated public Key to your buddy (you may do it via any public channel or network).
      </p>

      <ion-list>
        <ion-item ng-click="generate(1024)" class="item-icon-right">
          1024 bit
        </ion-item>
        <ion-item ng-click="generate(2048)" class="item-icon-right">
          2048 bit
        </ion-item>
        <ion-item ng-click="generate(3072)" class="item-icon-right">
          3072 bit
        </ion-item>
        <ion-item ng-click="generate(4096)" class="item-icon-right">
          4096 bit
        </ion-item>
      </ion-list>


      <table class="full-width color-muted m-t-lg">
        <tr>
          <td class="p-r-base">
            <i class="ion-alert-circled"></i>
          </td>
          <td class="full-width">
            <p class="m-b-0">
              THIS MIGHT TAKE SEVERAL MINUTES. DO NOT DISRUPT THE GENERATION PROCESS.
            </p>
          </td>
        </tr>
      </table>

    </div>
  </ion-content>
</ion-view>
