<ion-view view-title="Public Key" class="ion-view">
  <ion-content class="ion-content-decorated">
    <div class="module-window">
      <h4 class="m-b-lg">My Public Key</h4>
      <p class="m-b-lg">
        Share your public key with your buddy, he will encrypt his messages using it.
      </p>

      <form ng-submit="submit()">
        <div class="list">
          <label class="item item-input" >
            <textarea ng-model="model.key" placeholder="Paste yout public key here" rows="8" cols="10" style="resize: none;"></textarea>
          </label>

          <label class="item">
            <button class="button button-block button-positive" type="submit">Save</button>
          </label>
        </div>
      </form>

    </div>
  </ion-content>
</ion-view>
