.download-android {
  background: #000 url('../img/download/android.bg.jpg?') center no-repeat;
  background-size: 190%;

  .scroll {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .download-target {
    margin: 0 auto;
    max-width: 390px;
    text-align: center;
    padding: map-get($indents, lg) 0;
  }

  h3 {
    color: #FFF;
  }
}


.download-beta-logo {
  width: 100%;
  max-width: 260px;
  height: auto;
}
