.ion-content-decorated {
  background-image: url('../img/content/decor-top.svg'), url('../img/content/decor-bottom.svg');
  background-position: top center, bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}
