.im-chat-messages-viewport {
  position: absolute;
  top: 0;
  left: $im-chat-users-viewport-width;
  right: 0;
  bottom: $im-chat-control-viewport-height;
  overflow-y: auto;

  @include media-breakpoint-down(sm) {
    left: 0;
  }
}
