.im-chat-control-viewport {
  position: absolute;
  left: $im-chat-users-viewport-width;
  right: 0;
  bottom: 0;
  height: $im-chat-control-viewport-height;
  background: #FFF;
  border-top: rgba(#000, .1) 1px solid;

  @include media-breakpoint-down(sm) {
    left: 0;
  }

  textarea {
    width: 100%;
    resize: none;
    border: none;
    background: transparent;
    height: $im-chat-control-viewport-height - $im-chat-control-preferences-height;

    &+figure {
      position: absolute;
      display: block;
      left: 50%;
      right: 50%;
      top: 0;
      height: 2px;
      background: map-get($coloration, picton-blue);
      box-shadow: map-get($coloration, picton-blue) 0 0 5px;
      opacity: 0;
      transition: left .2s, right .2s, opacity 1s;
    }

    &:focus+figure {
      opacity: 1;
      left: 0;
      right: 0;
    }
  }
}

.im-chat-control-preferences {
  height: $im-chat-control-preferences-height;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  padding-left: map-get($indents, md);

  span {
    font-size: 11px;
    line-height: 13px;
    display: inline-block;
    color: map-get($coloration, danger);
    margin-right: 10px;

    &:after {
      content: ' OFF';
    }

    &.on {
      color: map-get($coloration, success);

      &:after {
        content: ' ON';
      }
    }
  }
}
