#im-tabs {
  .tab-nav.tabs {
    padding-top: 0;
    background: transparent;
    border-top: rgba(#000, .1) 1px solid!important;
  }

  a.tab-item {
    color: #222;
    border-top: 1px solid transparent;
  }

  a.tab-item.tab-item-active {
    color: map-get($coloration, air);
    border-color: map-get($coloration, air);
  }
}
