<ion-view view-title="Android" class="ion-view">
  <ion-nav-buttons side="right">
    <!--<button class="button button-positive button-clear no-animation" ng-click="">-->
      <!--Download-->
    <!--</button>-->

    <a ng-href="{{url}}" class="button button-positive button-clear no-animation" target="_blank">Download</a>
  </ion-nav-buttons>

  <ion-content class="download-content">
    <div class="download-target">
      <h3 class="m-b-lg">Beta version of SilenceIm is available on google play</h3>
      <h3 class="m-b-0" style="opacity: 0.3">And remember: no matter what happens, Jesus is with you</h3>

      <a ng-href="{{url}}" target="_blank"><img src="img/download/google-play.png" class="m-y-xlg" width="40%" height="auto"/></a>

      <div class="color-muted"><small>Please leave a rating and a review on Google Play Store</small></div>

    </div>
  </ion-content>
</ion-view>
