<ion-view view-title="Blackberry" class="ion-view">
  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear no-animation" ng-click="">
      Download
    </button>
  </ion-nav-buttons>

  <ion-content class="download-content">
    <div class="download-target">
      <h3 class="m-b-lg">Beta version of SilenceIm is available on BlackBerry World</h3>
      <h3 style="opacity: 0.3">And remember: no matter what happens, Jesus is with you</h3>

      <img src="img/download/blackberry-world.png" class="m-t-xlg" width="40%" height="auto"/>
    </div>
  </ion-content>
</ion-view>
