#noty {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 9999;
  text-align: center;
  transition: bottom .1s, opacity .6s;

  &.open {
    bottom: 5vh;
    opacity: 1;
  }

  &:before {
    display: inline-block;
    background: #000;
    color: rgba(#FFF, .8);
    padding: 5px 10px;
    border-radius: 10px;
    content: attr(data-content);
  }
}



