.tutorial-slide-box {
  height: 100%;

  .slider-slide {
    display: flex;
    align-items: center;
    align-content: center;
  }
}

.tutorial-slide-content {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;

  img {
    width: 100%;
    height: auto;
  }
}
