.im-chat-message-in, .im-chat-message-out  {
  .balloon {
    padding: map-get($indents, md) map-get($indents, lg);
    color: #111;
    position: relative;
    border-radius: 5px;
    word-break: break-all;
  }

  .primary {
    color: #888;
    font-size: .8em;
    padding-bottom: 2px;
    display: none;

    a {
      color: #888;
    }
  }

  .secondary {
    font-size: 10px;
    text-transform: uppercase;
    color: #666;
  }

  .message {
    @include media-breakpoint-up(md) {
      max-width: 70%;
    }
  }
}

.im-chat-message-out {
  $bg: #edf1f4;

  .message {
    float: right;
  }

  .balloon {
    background: $bg;
  }

  .primary {
    text-align: right;
  }

  .secondary {
    text-align: right;
  }
}

.im-chat-message-in {
  $bg: #dcf4fc;

  .message {
    float: left;
  }

  .balloon {
    background: $bg;
  }

  .primary {
    text-align: left;
  }
}


