<ion-view view-title="Log" class="ion-view">
  <ion-content>
    <div class="module-window" style="max-width: none">
      <div style="max-width: 550px">
        <h4 class="m-b-lg">
          <i class="icon ion-log-in"></i>
          Traffic control
        </h4>
        <h3 class="font-weight-normal m-b-lg">In tis page you may monitor the incoming/outgoing traffic to ensure that your messages where really being encrypted.</h3>
      </div>

      <div class="im-chat-logs">
      </div>
    </div>
  </ion-content>
</ion-view>
