<ion-view view-title="Room" class="ion-view">
  <ion-content>
    <div class="module-window p-y-0 p-x-0">
      <div class="list">
        <div class="item item-divider">
          Channel
        </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Room Name</span>
          <input type="text" ng-value="room.roomName" readonly="readonly" style="background: transparent">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">User Name</span>
          <input type="text" ng-value="room.roomName" readonly="readonly" style="background: transparent">
        </label>

        <div class="item item-divider">
          My Encryption
        </div>
        <ion-item class="item-icon-right">
          <i class="icon ion-happy-outline" ng-show="is('pgp')"></i>
          <i class="icon ion-sad-outline"  ng-show="!is('pgp')"></i>
          PGP Encryption
        </ion-item>

        <ion-item class="item-icon-right">
          <i class="icon ion-happy-outline" ng-show="is('pgp')"></i>
          <i class="icon ion-sad-outline"  ng-show="!is('pgp')"></i>
          AES Encryption
        </ion-item>

        <ion-item class="item-icon-right">
          <i class="icon ion-happy-outline" ng-show="is('rc4')"></i>
          <i class="icon ion-sad-outline"  ng-show="!is('rc4')"></i>
          RC4 Encryption
        </ion-item>
      </div>
    </div>

  </ion-content>
</ion-view>
